body{
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* width: 100% ; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    /* font-size: 10px; */
    position: relative;
    height: 40em;
    width: 40em;
}
.sun{
    position: absolute;
    top: 17em;
    left: 15em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: rgb(229, 180, 74);
    box-shadow: 0 0 3em white;
}
.earth, .moon, .mars, .venus, .mercury{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.mercury{
    top: 14.5em;
    left: 12.5em;
    height: 15em;
    width: 15em;
    animation: orbit 7s linear infinite;
}
.venus{
    top: 12em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: rev-orbit 10s linear infinite;
    border-width: 0.1em 0 0 0.1em;
}
.earth{
    top: 7em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon{
    top: 0em;
    right: 0em;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}
.mars{
    top: 0.5em;
    left: -2.5em;
    border-radius: 50%;
    width: 45em;
    height: 45em;
    animation: orbit 40s linear infinite;
}
.earth::before, .moon::before, .mars::before, .venus::before, .mercury::before{
    content: "";
    position: absolute;
    border-radius: 50%;
}
.mercury::before{
    top: 1.4em;
    right: 1.35em;
    height: 1.5em;
    width: 1.5em;
    background-color: darkgray;
}
.venus::before{
    top: 1.8em;
    left: 1.9em;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: rgb(246, 127, 29);
}
.earth::before{
    top: 2.8em;
    right: 2.8em;
    height: 3em;
    width: 3em;
    background-color: rgb(0, 255, 255);
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
.mars::before{
    top: 5.8em;
    right: 4em;
    height: 3.5em;
    width: 3.5em;
    background-color: #a03232;
}
@keyframes orbit{
    to{
        transform: rotate(360deg);
    }
}
@keyframes rev-orbit{
    to{
        transform: rotate(-360deg);
    }
}